
/*------------------test-------------*/

@font-face {
	font-family: kollektif-bold;
	src: url('../kollektif/Kollektif-Bold.ttf');
  }

  @font-face {
	font-family: Kollektif-Italic;
	src: url('kollektif/Kollektif-Italic.ttf');
  }

  @font-face {
	font-family: Kollektif;
	src: url('kollektif/Kollektif.ttf');
  }


body {
      margin:0; padding:0;
      font-size : medium;
      text-align:left;
      height:100%;
	  background-color:#121F28;
	  font-family: Kollektif;

      }

	  a{
			text-decoration:none;
			color:black;
	  }

#conteneur
{
  display: flex;
	justify-content: space-around;
	align-items:center;
	height:300px;
	background-color:#121F28;
	border-color:black;

}

	/* couleur de fond du formulaire */
	.container {
		border-radius: 10px;
		background-image: url(../CSS/icons/temperaturee.png);
		background-position:left bottom;
		padding: 20px;
		width:60%;
		margin-left:auto;
		margin-right:auto;
		height:50%;
		font-family: Kollektif;
		text-align: center;
		border: 1px solid #DCE837;
		color: #DCE837;
	}



.element1 /* On prend le premier bloc élément */
{
    background-color:white;
	border-width:2px;
	border-style:outset;
	border-color:black;
	height: 300px;
	width:300px;
	text-align:center;
	border-radius:20px 20px 20px 20px;
	opacity: 0.8;
	transition: opacity 1s, transform 0.3s ease-in;
}



.element:hover{
opacity: 1;
  transform: scale(1.1);
  box-shadow: 1px 3px 8px 4px;
}

.element1:hover{
opacity: 1;
  transform: scale(1.1);
  box-shadow: 1px 3px 8px 4px;
}


.element /* On prend le premier bloc élément */
{
    background-color:white;
	border-width:2px;
	border-style:outset;
	border-color:black;
	height: 200px;
	width:200px;
	text-align:center;
	border-radius:20px 20px 20px 20px;
	opacity: 0.8;
	transition: opacity 1s, transform 0.3s ease-in;
}


.imagedash{
	width:15%;
	margin-left:auto;
	margin-right:auto;
}

.image{
	display:block;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	height:170px;
	width:170px;
}

.image2{
	display:block;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	height:150px;
	width:150px;
	}

.image3{
	display:block;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	height:100px;
	width:100px;
	}


#bandeau {
	background-color:#121F28;
}

#footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
	font-size:small;
}


.header {
    left: 0; /* marge gauche */
    right: 0; /* marge droite */
    height: 80px;  /* hauteur de la boite de contenu */
    line-height: 80px; /* hauteur minimale des lignes */
}

	/*------------------Logo-------------*/
	.logo {
		float: left;  /* retiré du flux normal et placé à gauche */
		display: block; /* affichage en blocs */
		margin-left: auto; /* marges automatiques */
		margin-right: auto;
		width: 20%; /* largeur de l'élément vis à vis de la largeur de la page */
		}

	.logo3 {  /* retiré du flux normal et placé à droite */
		margin-left: auto; /* marges automatiques */
		margin-right: auto;
		max-width: 13%;
		}


	.logo3ter {  /* retiré du flux normal et placé à droite */
		float: right;
		margin-top: 1%;
		margin-left: auto; /* marges automatiques */
		margin-right: auto;
		max-width: 10%;
		}

	.logo5 {  /* retiré du flux normal et placé à droite */
		margin-left: auto; /* marges automatiques */
		margin-right: auto;
		max-width: 21%;
		}


	.logo6 {  /* retiré du flux normal et placé à droite */
		margin-left: auto; /* marges automatiques */
		margin-right: auto;
		max-width: 20%;
		}

	#logo
	{
		background-image: url(mydoms.jpg);
		background-position: 50%;
		height: 200px;
		width:19%;
		margin-left: auto;
		margin-right: auto;
		border-radius:40px 40px 40px 40px;
	}



	/*------------------Titre Page-------------*/
	.titlepage{
		padding:90px;
		font-family: Kollektif;
		font-size: 22px;
		text-align: center;
		letter-spacing: 5.8pt;
		color: aliceblue;
	}
	.bordertitle{
			border: 1px solid #DCE837;
			border-radius: 12px;
			border-left-width: 31px;
			border-right-width: 31px;
			margin-left: 20%;
			margin-right: 20%;
			max-width: 100%;
			padding-top : 0.2%;
			padding-bottom : 0%;
	}
/*------------------Fil d'ariane-------------*/

	.header {
		left: 0; /* marge gauche */
		right: 0; /* marge droite */
		height: 80px;  /* hauteur de la boite de contenu */
		line-height: 80px; /* hauteur minimale des lignes */

	}
	.temperature{
		font-family: Kollektif-Italic;
		font-size: 25px;
		color:aliceblue;
	}
	.temperature1{
		font-family: Kollektif-Italic;
		font-size: 18px;
		color:#DCE837;
	}
	.wrapper {
		display: grid;
		margin-left:0px; 
		column-gap: 0px;
		font-family: Kollektif;
		grid-auto-columns: 13%;
		grid-auto-rows: 30%;
		}
	/*------------------header-------------*/
	 .one {
		grid-column: 1/3;
		grid-row: 1/2;
	  }
	 .two {
		grid-column: 3/5;
		grid-row: 1;
	  }
	  .three {
		grid-column: 2;
		grid-row: 1;
			  }
	.nine {
		grid-column: 5/9;
		grid-row: 1;
		}