
/*------------------test-------------*/

@font-face {
	font-family: kollektif-bold;
	src: url('../kollektif/Kollektif-Bold.ttf'); 
  }
  
  @font-face {
	font-family: Kollektif-Italic;
	src: url('kollektif/Kollektif-Italic.ttf'); 
  }

  @font-face {
	font-family: Kollektif;
	src: url('kollektif/Kollektif.ttf'); 
  }

body {
      font: 75%/1.33 Kollektif, sans-serif;
      font-size : medium;
	  background-color:#121F28;

	  }   
	     
/*------------------Header-------------*/
.header {
    left: 0; /* marge gauche */
    right: 0; /* marge droite */
    height: 80px;  /* hauteur de la boite de contenu */
    line-height: 80px; /* hauteur minimale des lignes */
}
	/*------------------Logo-------------*/
.logo {
	float: left;  /* retiré du flux normal et placé à gauche */
	display: block; /* affichage en blocs */
	margin-left: auto; /* marges automatiques */
	margin-right: auto;
	width: 20%; /* largeur de l'élément vis à vis de la largeur de la page */
	}

.logo2 {  /* retiré du flux normal et placé à droite */
	margin-left: auto; /* marges automatiques */
	margin-right: auto;
	max-width: 15%;
	} 
.logo3 {  /* retiré du flux normal et placé à droite */
	margin-left: auto; /* marges automatiques */
	margin-right: auto;
	max-width: 15%;
	} 
.logo3bis {  /* retiré du flux normal et placé à droite */
	float: right;
	margin-top: 8%;
	margin-left: auto; /* marges automatiques */
	margin-right: 0;
	max-width: 7%;
	} 

.logo3ter {  /* retiré du flux normal et placé à droite */
	float: right;
	margin-top: 1%;
	margin-left: auto; /* marges automatiques */
	margin-right: auto;
	max-width: 10%;
	} 
.logo4 {  /* retiré du flux normal et placé à droite */
	margin-left: auto; /* marges automatiques */
	margin-right: auto;
	max-width: 18%;
	} 
.logo5 {  /* retiré du flux normal et placé à droite */
	margin-left: auto; /* marges automatiques */
	margin-right: auto;
	max-width: 23%;
	} 
	.logo6 {  /* retiré du flux normal et placé à droite */
		margin-left: auto; /* marges automatiques */
		margin-right: auto;
		max-width: 21%;
	}
	#logo
{
	background-image: url(mydoms.jpg);
	background-position: 50%;
	height: 200px;
	width:19%;
	margin-left: auto;
	margin-right: auto;
	border-radius:40px 40px 40px 40px;
}



/*------------------Main-------------*/
.main {
	padding:312px 315px;
	

}
	/*------------------Titre Page-------------*/
	.titlepage{
		padding:90px;
		font-family: Kollektif;
		font-size: 22px;
		text-align: center;
		letter-spacing: 5.8pt;
		color: aliceblue;
	}
	.bordertitle{	
			border: 1px solid #DCE837;
			border-radius: 12px;
			border-left-width: 31px;
			border-right-width: 31px;
			margin-left: 20%;
			margin-right: 20%;
			max-width: 100%;
			padding-top : 0.2%;
			padding-bottom : 0%;
	}
	/*------------------Contenu-------------*/

		
	input[type=text], select, textarea {
		font-family: Kollektif;
		width: 100%; 
		padding: 12px;
		border: 1px solid #ccc; /* bord gris des cases */
		border-radius: 4px; /* bord rond des cases */
		box-sizing: border-box; /* Assure l'alignement des cases */
		margin-top: 6px; 
		margin-bottom: 16px; 
		resize: vertical /* Permet aux utilisateurs de redimensionner une case */
	}

	
	input[type=submit] {
		font-family: Kollektif;
		background-color: #d0db36;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer; /* bouton envoyer */
	}

	
	input[type=submit]:hover {
		background-color: #d0db36; /* souris au dessus du bouton envoyer */
	}

	/* couleur de fond du formulaire */
	.container {
		border-radius: 10px;
		background-color: #f2f2f2;
		padding: 20px;
		width:60%;
		margin-left:auto;
		margin-right:auto;
		height:50%;
	}


	

/*------------------Footer-------------*/
#footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
	font-size:small;
}

	