
@font-face {
	font-family: kollektif-bold;
	src: url('../kollektif/Kollektif-Bold.ttf'); 
  }
  
  @font-face {
	font-family: Kollektif-Italic;
	src: url('kollektif/Kollektif-Italic.ttf'); 
  }

  @font-face {
	font-family: Kollektif;
	src: url('kollektif/Kollektif.ttf'); 
  }

body {
      font: 75%/1.33 Kollektif, sans-serif;
      font-size : medium;
	  background-color:#121F28;

	  }   
	     
/*------------------header-------------*/
.header {
	position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
}
		/*------------------Logo-------------*/
		.logo {
			float: left;  /* retiré du flux normal et placé à gauche */
			display: block; /* affichage en blocs */
			margin-left: auto; /* marges automatiques */
			margin-right: auto;
			width: 20%; /* largeur de l'élément vis à vis de la largeur de la page */
			}
		
		.logo3 {  /* retiré du flux normal et placé à droite */
			margin-left: auto; /* marges automatiques */
			margin-right: auto;
			max-width: 13%;
			} 
	
		
		.logo3ter {  /* retiré du flux normal et placé à droite */
			float: right;
			margin-top: 1%;
			margin-left: auto; /* marges automatiques */
			margin-right: auto;
			max-width: 10%;
			} 
	
		.logo5 {  /* retiré du flux normal et placé à droite */
			margin-left: auto; /* marges automatiques */
			margin-right: auto;
			max-width: 21%;
			} 
		.logo6 {  /* retiré du flux normal et placé à droite */
			margin-left: auto; /* marges automatiques */
			margin-right: auto;
			max-width: 20%;
			}
			#logo
		{
			background-image: url(mydoms.jpg);
			background-position: 50%;
			height: 200px;
			width:19%;
			margin-left: auto;
			margin-right: auto;
			border-radius:40px 40px 40px 40px;
		}
		
/*------------------Main-------------*/
.main {
	padding:312px 315px;
	

}
	/*------------------Titre Page-------------*/
	.titlepage{
		padding:90px;
		font-family: Kollektif;
		font-size: 22px;
		text-align: center;
		letter-spacing: 5.8pt;
		color: aliceblue;
	}
	.bordertitle{	
			border: 1px solid #DCE837;
			border-radius: 12px;
			border-left-width: 31px;
			border-right-width: 31px;
			margin-left: 20%;
			margin-right: 20%;
			max-width: 100%;
			padding-top : 0.2%;
			padding-bottom : 0%;
	}
	/*------------------Contenu-------------*/

			
	#profil{
	height:auto;
	display:block;
	margin:auto;
	width:50%;
	background:white;
	border-radius:10px;
	}

	
	h3{
	text-align:center;
	}

	.champs{
		text-align:center;
		font-family: Kollektif;
		width: 50%; 
		margin:auto;
		padding: 12px;
		border: 1px solid #deea32; /* bord gris des cases */
		border-radius: 4px; /* bord rond des cases */
		box-sizing: border-box; /* Assure l'alignement des cases */
		margin-top: 6px; 
		margin-bottom: 6px; 
		font-size: 11px;

		}

	.space{
	padding:50px;
	}

	.image{
	display:block;
	margin:auto;
	}
	
	p{
	text-align:center;
	}
	
	#conteneur{
	display:flex;
	}

/*------------------Footer-------------*/
#footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
	font-size:small;
	
}