
@font-face {
	font-family: kollektif-bold;
	src: url('../kollektif/Kollektif-Bold.ttf'); 
  }
  
  @font-face {
	font-family: Kollektif-Italic;
	src: url('kollektif/Kollektif-Italic.ttf'); 
  }

  @font-face {
	font-family: Kollektif;
	src: url('kollektif/Kollektif.ttf'); 
  }

body {
      font: 75%/1.33 Kollektif, sans-serif;
      font-size : medium;
	  background-color:#121F28;

	  }   
	     
/*------------------header-------------*/
.header {
	position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
}
	/*------------------Logo-------------*/
.logo {
	float: left; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	}

	/*------------------Fil d'ariane-------------*/
.ariane a:hover
{
	color : #DCE837;
}
	.ariane ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		position: absolute;
		top: 130px;
		right: 0;
		width: 300px;
		height: 200px;
		color: rgb(199, 199, 199)
		}

	.ariane a,
	.ariane span {
		padding: .5em 1em;
		color: rgb(199, 199, 199)
		}
	.ariane li::before {
		content: "/";
		color: rgb(199, 199, 199)
		}
	.ariane li:first-child::before {
		content: "";
	}

/*------------------Main-------------*/
.main {
	padding:312px 315px;
	

}
	/*------------------Titre Page-------------*/
	.titlepage{
		padding:90px;
		font-family: Kollektif;
		font-size: 22px;
		text-align: center;
		letter-spacing: 5.8pt;
		color: aliceblue;
	}
	.bordertitle{	
			border: 1px solid #DCE837;
			border-radius: 12px;
			border-left-width: 31px;
			border-right-width: 31px;
			margin-left: 20%;
			margin-right: 20%;
			max-width: 100%;
			padding-top : 2%;
			padding-bottom : 2%;
	}
	/*------------------Contenu-------------*/

		
	.space{
  padding:50px;
}

/*fenetre d'affichage*/
#target {
  
  width:60%;
  height:300px;
  padding:5px;
  display:none;
  border-radius:5px;
  margin:auto;
  bottom:20px;
  background:linear-gradient(#bdc3c7, #2c3e50);

}


/*switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
	margin-left: auto;
  margin-right: auto;
	padding: 2em;
	width: 60%;
}

/*-------- GENERAL BUTTON STYLING */
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.toggle{
	font-family: Kollektif;


}
#temp{
font-size:100px;
text-align:center;
margin:auto;
}

button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  padding: 10px;
  margin-right:25px;
  float:left;
  position: relative;
  text-transform: uppercase;
 
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #DCE837;
}





/*------------------Footer-------------*/
#footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
	font-size:small;
	
}

.logo2 {
	float: right;  /* retiré du flux normal et placé à droite */
	margin-left: auto; /* marges automatiques */
	margin-right: 8%;
	max-width: 5%;
	margin-top:7.5%;
	} 